/* SIDE PANEL */
#tasks-container{
    background: #fff;
}
.task-cards{
    font-size: 14px;
    font-weight: 500;
    padding: 1em;
    background: #1DD8EE;
    border-radius: 15px;
}
.task-backg{
    padding: .3em .5em .2em .5em;
    border: none;
    border-radius: 17px;
}

/* POFILE IMAGE */
.profile-img{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.image-back{
    width: 150px;
    height: 150px;
}
#task-card{
    border: none;
}