body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}
/* BUTTONS */
.btn-primary{
    padding: 1.5rem .8rem 1.5rem .8rem;
    border-radius: 12%;
    width: 10vw;
    border: none;
}
#color-category{
    background: #DCB90A;
}
#color-category:hover{
    background: #EAC50B;
}

.add-backg{
    display: flex;
    flex-direction: column;
}
.btn-primary{
    justify-content: center;
}

/* CATEGORIESS */
.category-cards{
    font-weight: 500;
    padding: 1em;
    background: #274871;
    border-radius: 15px;
    height: 100vh;
}
.category-backg{
    padding: .3em .5em .2em .5em;
    border: none;
    border-radius: 45px;
}
.card-body{
    padding: 1.4em 3em 1.4em 3em;
    font-size: 10px
}
.category-text{
    font-size: 18px;
}

/* FORM */
.form-check{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}
.add-btn{
    border: none;
    border-radius: 5px;
    background: #DCB90A;
}
.add-btn:hover{
    background: #EAC50B;
}


/* app-comp */
.back-g{
    overflow: hidden;
}
app-navbar{
    width: 22%;
    margin-left: -.8em;
    margin-right: -4.5em;
}
#home-comp{
    margin-left: -3.5em;
}
/* The button used to open the sidebar */
.menu-btn{
    position: sticky;
}
.clickBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #173152;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: -.5em;
  }
  
.clickBtn:hover {
    transition: .5s;
    background-color: #DCB90A;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
