        <nav class="col-auto col-md-3 w-75 col-xl-2 px-sm-2 px-0"  id="nav-back">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <!-- LOGO -->
                <a href="home" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline mt-4">
                        <div style="display: flex;color: #fff;">
                            <div id="logo" style="background-color: #1DD8EE;width:40px;height:40px;border: 7px solid #DCB90A; margin-right: .5em;"></div>
                            <p style="font-size: 28px;margin-top:.05em;font-family: 'Poller One', cursive;">BAND</p>
                          </div>
                    </span>
                </a>

                <!-- NAVBAR -->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" >
                    <li class="nav-item">
                        <a href="categories" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-boxes-stacked"></i> <span class="ms-1 d-none d-sm-inline">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a href="notes" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-book-open"></i> <span class="ms-1 d-none d-sm-inline">Notes</span>
                        </a>
                    </li>
                    <li>
                        <a href="tasks" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-list-check"></i> <span class="ms-1 d-none d-sm-inline">Tasks</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pomodoro" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-clock"></i> <span class="ms-1 d-none d-sm-inline">Pomodoro</span>
                        </a>
                    </li>
                    <li>
                        <a href="edit-profile" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-user"></i> <span class="ms-1 d-none d-sm-inline">Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="logout" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-power-off"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                        </a>
                    </li>
                    <li>
                        <a href="categories" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-4">
                            <i class="fa-solid fa-square"></i> 
                            <span class="ms-1 d-none d-sm-inline" style="color: #DCB90A;">Jane's Categories
                                <ul class="category-list text-white" style="font-size: 15px;margin-top: 1em;">
                                    <!-- <li *ngFor="let category of categories"></li> -->
                                    <li>Math</li>
                                </ul>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
        
<script src="https://kit.fontawesome.com/a9cb57d42a.js" crossorigin="anonymous"></script>