<div class="container-fluid back-g">
    <div class="row flex-nowrap">
        <app-navbar class="" *ngIf="show"></app-navbar>
        <div class="col mt-3">
            <!-- <button type="button" id="sidebarCollapse" class="btn clickBtn" >&#9776;</button>     -->
        </div>

        <div class="col-7 col-md-7" id="home-comp">
            <body>
                <div id="home-container" class="container">
                    <h1 style="font-weight: 600;">{{message}} </h1><h1></h1>
                    <small class="text-secondary">20th June,Sunday</small>
                    
                    <div class="row d-flex justify-content-end w-100">
                        <div class="col vw-100">
                            <div class="container mt-5 text-center">
                
                <!-- BUTTONS -->
                                <div class="row">
                                    <div class="col-sm add-backg">
                                        <a href="/add-note">
                                            <button class="btn btn-primary" id="color-note">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Note</div>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-sm add-backg">
                                        <a href="/add-task">
                                            <button class="btn btn-primary text-center" id="color-task">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text text-center">Task</div>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-sm add-backg">
                                        <a href="/all-categories">
                                            <button class="btn btn-primary" id="color-category">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Category</div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                              <!-- Modal -->
                    <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-fullscreen" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                        <button type="button" class="close" 
                        data-dismiss="modal" aria-label="Close"
                        (click)="closeClick()" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <app-edit-note [note]="note" *ngIf=" ActivateAddEditNoteComp"></app-edit-note>
                        </div>
                    </div>
                    </div>
                </div>

                
                <!-- NOTES CONTAINER -->
                            <!-- <div class="note-cards mt-5">
                                    <div class="card note-backg mt-4" *ngFor="let note of note">
                                        <div class="card-body ">

                                            <span class="card-title d-flex justify-content-between pb-3">
                                                <h4 class="">
                                                    {{note.value.NoteId}}
                                                    {{note.value.title}}</h4>
                                                <h5 style="color:#1DD8EE;">Math</h5>
                                            </span>

                                            <p class="card-text pb-1">{{note.value.notes}}</p>

                                            <footer class="d-flex justify-content-end">
                                                <div class="col">
                                                    <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" href="#exampleModalToggle"  (click)="editClick(note.value)" data-backdrop="static" data-keyboard="false">
                                                        <i class="fa-solid fa-pen-to-square"></i>Edit
                                                    </button>
                                                   <button type="button" class="btn btn-light mr-1" (click)="deleteClick(note.id)">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                   </button>
                                                </div>
                                                
                                                <small class="text-muted col">2nd June 2022</small>
                                            </footer>

                                        </div>
                                    </div>
    
                            </div> -->
<h2 style="margin-top: 20%; text-align:center" *ngIf="!authenticated">Login to get started</h2>
                    <div class="note-cards mt-5" *ngIf="authenticated">
                        
                            <li class="card note-backg mt-4" *ngFor="let note of note |keyvalue">
                                <div class="card-body" >
                                    <a href="/note" style="text-decoration: none; color: black;">
                                  <span class="card-title d-flex justify-content-between pb-3">
                                    <h4 class="">{{note.value.title}}</h4>
                                  </span>
                                  <p>{{ note.value.notes}}</p>
                                  </a>
                                  <footer class="d-flex justify-content-end">
                                    <div class="col">
                                        <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal"  (click)="editClick(note.value)" data-backdrop="static" data-keyboard="false">
                                            <i class="fa-solid fa-pen-to-square"></i>Edit
                                        </button>
                                       <button type="button" class="btn btn-light mr-1" (click)="deleteClick(note.value.NoteId)">
                                            <i class="fa-solid fa-trash-can"></i>Delete
                                       </button>
                                    </div>
                                    <!-- <div class="text-muted"><small>{{note.date|date}}</small></div> -->
                                </footer>
                                </div>
                                
                            </li>
                        
                    </div>
            
                            <section class="mt-3" *ngIf="errorMessage">
                              <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <p class="h3 text-danger">{{ errorMessage }}</p>
                            
                                  </div>
                                </div>
                              </div>
                            </section>
                        
                        </div>
                    </div>
                
                </div>
                </body>
        </div>
        <div class="col-md-3" >
            <app-taskbarhomepage *ngIf="authenticated"></app-taskbarhomepage>
        </div>

    </div>
</div>
