<body>
    <div id="home-container" class="container">
        <h1 style="font-weight: 600;">Welcome back, Jane!</h1>
        <small class="text-secondary">20th June,Sunday</small>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm add-backg">
                <a href="">
                    <button class="btn btn-primary" id="color-note">
                        <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                        <div class="add-text">Note</div>
                    </button>
                </a>
            </div>
            <div class="col-sm add-backg">
                <a href="">
                    <button class="btn btn-primary text-center" id="color-task">
                        <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                        <div class="add-text text-center">Task</div>
                    </button>
                </a>
            </div>
            <div class="col-sm add-backg">
                <a href="">
                    <button class="btn btn-primary" id="color-category">
                        <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                        <div class="add-text">Category</div>
                    </button>
                </a>
            </div>
        </div>
      </div>
    </div>
</body>