<div class="container-fluid back-g">
    <div class="row flex-nowrap">
        <app-navbar class="" *ngIf="show"></app-navbar>
        <div class="col-md-1 mt-3">
            <button type="button" id="sidebarCollapse" class="btn clickBtn" (click)="show=!show">&#9776;</button>    
        </div>

        <div class="col-7 col-md-8" id="home-comp">
            <body>
                <div id="home-container" class="container">
                    <h1 style="font-weight: 600;">Welcome back, Jane!</h1>
                    <small class="text-secondary">20th June,Sunday</small>
                    
                    <div class="row d-flex justify-content-end w-100">
                        <div class="col vw-100">
                            <div class="container mt-5 text-center">
                
                <!-- BUTTONS -->
                                <div class="row">
                                    <div class="col-sm add-backg">
                                        <a href="/add-note">
                                            <button class="btn btn-primary" id="color-note">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Note</div>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-sm add-backg">
                                        <a href="/add-task">
                                            <button class="btn btn-primary text-center" id="color-task">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text text-center">Task</div>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-sm add-backg">
                                        <a href="/all-categories">
                                            <button class="btn btn-primary" id="color-category">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Category</div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                              <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-note [note]="note" *ngIf="ActivateAddEditNoteComp">
            </app-add-note>
        </div>
      </div>
    </div>
  </div> -->

                
                <!-- NOTES CONTAINER -->
                        <ul *ngFor="let note of note">
                            <div class="note-cards mt-5">
                                <li>
                                    <div class="card note-backg mt-4">
                                        <div class="card-body ">
                                            <span class="card-title d-flex justify-content-between pb-3">
                                                <h4 class="">
                                                    {{note.value.NoteId}}
                                                    {{note.value.title}}</h4>
                                                <h5 style="color:#1DD8EE;">Math</h5>
                                            </span>
                                            <p class="card-text pb-1">{{note.value.notes}}</p>
                                            <div class="text-muted"><small>2nd June 2022</small></div>
                                            <footer><button type="button" class="btn btn-light mr-1"
                                                data-toggle="modal" data-target="#exampleModal"
                                (click)="editClick(note.value)"
                                data-backdrop="static" data-keyboard="false"
                                                >
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                               Edit</button>
                                               <button type="button" class="btn btn-light mr-1"
                                               (click)="deleteClick(note.value.NoteId)"
                                               >
                                                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                 </svg>
                                               </button>
                                              
                                              </footer>
                                        </div>
                                    </div>
    
                                </li>
                            </div>
                        </ul>
                        
                        </div>
                <!-- SIDE PANEL FOR PROFILE & TASKS -->
                        
                    </div>
                
                </div>
                </body>
        </div>
        <div class="col">
            <app-taskbarhomepage></app-taskbarhomepage>
        </div>

    </div>
</div>
