<div class="container-fluid back-g">
    <div class="row flex-nowrap">

        <!-- NAVBAR col-1 -->
        <app-navbar class=""></app-navbar>
        <div class="col-md-1 mt-3">
            <button type="button" id="sidebarCollapse" class="btn clickBtn" (click)="show=!show">&#9776;</button>    
        </div>

<!-- CONTENT CONTAINER  col-2-->
        <div class="col-7 col-md-10" id="home-comp">
            <body>
                <div id="home-container" class="container">
                    <div class="row d-flex w-100 mx">
                <!-- NOTE -->
                <!-- col-2.a -->
                            <div class="note-card mt-4 col-md-10">
                                    <div class="card note-backg mt-4" *ngFor="let note of oneNote"> 
                                        <!-- Ngfor note of notes -->
                                        <div class="card-body lh-lg">
                                            <span class="card-title d-flex justify-content-between pb-3">
                                                <h4 class="px-4 pt-3">{{note.title}}</h4>
                                            </span>
                                            <p class="card-text px-5">
                                              {{note.notes}}                                    
                                            </p>
                                            <div class="text-muted"><small>{{note.date|date}}</small></div>
                                        </div>
                                    </div>
                            </div>

                        
                <!-- ADD NOTE BUTTON -->
                <!-- col-2.b -->
                            <!-- <div class="container mt-5 col-md-1">
                                <div class="col-sm add-backg">
                                    <a href="/add-note">
                                        <button class="btn btn-primary" id="color-note">
                                            <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                            <div class="add-text">Note</div>
                                        </button>
                                    </a>
                                    <a href="/add-note" *ngIf="note.NoteId!=0">
                                        <button  class="btn btn-primary mt-5 px-4 btn-update" type="submit">
                                            Update
                                        </button>
                                    </a>
                                </div>
                                    
                            </div> -->
                    </div>
                
                        
                    </div>
                
                </body>
        </div>

    </div>
</div>
