<div class="container-fluid back-g">
    <div class="row flex-nowrap">
<!-- NAVBAR -->
        <app-navbar class="" *ngIf="show"></app-navbar>
        <div class="col-md-1 mt-3">
            <button type="button" id="sidebarCollapse" class="btn clickBtn" (click)="show=!show">&#9776;</button>    
        </div>

<!-- CONTENT -->
        <div class="col-7 col-md-10" id="home-comp">
            <body>
                <div id="home-container" class="container">
                    <div class="row d-flex w-100">

                <!-- ADD TASK BUTTON -->
                            <div class="container mt-5 col-md-3">
                                    <div class="col-sm add-backg">
                                        <a href="/add-task">
                                            <button class="btn btn-primary" id="color-task">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Task</div>
                                            </button>
                                        </a>
                                    </div>
                            </div>
                
                <!-- TASKS CONTAINER -->
                <div class="tasks mt-5 col-md-9">
                    <div class="task-cards">
                    <h3 class="text-center">Tasks</h3>
            
                        <div class="card task-backg mt-4">
                            <!-- Ngfor task of tasks -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <!-- <div ng-init="limit = 150">
                                            {{text | limitTo: limit}}
                                        </div> -->
                                      Lorem ipsum dolor s ...
                                    </label>
                                </div>
                                <div class="text-muted"><small>2nd June 2022</small></div>
                        </div>
            
                        <div class="card task-backg mt-4">
                            <!-- Ngfor task of tasks -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <!-- <div ng-init="limit = 150">
                                            {{text | limitTo: limit}}
                                        </div> -->
                                      Lorem ipsum dolor s ...
                                    </label>
                                </div>
                                <div class="text-muted"><small>2nd June 2022</small></div>
                        </div>
                        <div class="card task-backg mt-4">
                            <!-- Ngfor task of tasks -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <!-- <div ng-init="limit = 150">
                                            {{text | limitTo: limit}}
                                        </div> -->
                                      Lorem ipsum dolor s ...
                                    </label>
                                </div>
                                <div class="text-muted"><small>2nd June 2022</small></div>
                        </div>
                        <div class="card task-backg mt-4">
                            <!-- Ngfor task of tasks -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <!-- <div ng-init="limit = 150">
                                            {{text | limitTo: limit}}
                                        </div> -->
                                      Lorem ipsum dolor s ...
                                    </label>
                                </div>
                                <div class="text-muted"><small>2nd June 2022</small></div>
                        </div>
                        
            
                    </div>
                </div>
            
                        
                    </div>
                
                </div>
                </body>
        </div>
    </div>
</div>
