<div class="container-fluid back-g">
    <div class="row flex-nowrap">
        <app-navbar class=""></app-navbar>
        <div class="col-md-1 mt-3">
            <button type="button" id="sidebarCollapse" class="btn clickBtn" >&#9776;</button>    
        </div>

        <div class="col-7 col-md-10" id="home-comp">
            <body>
                <div id="home-container" class="container">
                    <div class="row d-flex w-100">
                <!-- ADD NOTE BUTTON -->
                            <div class="container mt-5">
                                    <div class="col-sm add-backg">
                                        <a href="/add-note">
                                            <button class="btn btn-primary" id="color-note">
                                                <i style="background: white; color:black; padding: .5em; border-radius:50px" class="fa-solid fa-plus"></i>
                                                <div class="add-text">Note</div>
                                            </button>
                                        </a>
                                    </div>
                            </div>
                            <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-fullscreen" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                                    <button type="button" class="close" 
                                    data-dismiss="modal" aria-label="Close"
                                    (click)="closeClick()" >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <app-edit-note [note]="note" *ngIf=" ActivateAddEditNoteComp"></app-edit-note>
                                    </div>
                                </div>
                                </div>
                            </div>
                
                <!-- NOTES CONTAINER -->
                            <div class="note-cards mt-5" *ngFor="let note of note |keyvalue">
                            
                              
                                    <div class="card note-backg mt-4">
                                        <!-- Ngfor note of notes -->
                                        <div class="card-body ">
                                            <a href="/note/{{note.value.NoteId}}">
                                            <span class="card-title d-flex justify-content-between pb-3">
                                                <h4 class="">{{note.value.title}}</h4>
                                            </span>
                                            <p class="card-text pb-1">
                                                {{note.value.notes}}
                                            </p>
                                            </a>
                                            <footer class="d-flex justify-content-end">
                                                <div class="col">
                                                    <button type="button" class="btn btn-light mr-1" data-toggle="modal" data-target="#exampleModal"  (click)="editClick(note.value)" data-backdrop="static" data-keyboard="false">
                                                        <i class="fa-solid fa-pen-to-square"></i>Edit
                                                    </button>
                                                   <button type="button" class="btn btn-light mr-1" (click)="deleteClick(note.value.NoteId)">
                                                        <i class="fa-solid fa-trash-can"></i>Delete
                                                   </button>
                                                </div>
                                                <div class="text-muted"><small>{{note.date|date}}</small></div>
                                            </footer>
                                                    
                                        </div>
                                    </div>
                            
                        
                        
                            </div>
                        
                        </div>
                <!-- SIDE PANEL FOR PROFILE & TASKS -->
                        
                    </div>
                
                </body>
        </div>

    </div>
</div>
