<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="title"
        placeholder="Enter Department Name">
    </div>
    <label class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="notes"
        placeholder="Enter Department Name">
    </div>
</div>
<button type="submit" (click)="updateNotes()"  class="btn btn-primary">
    Update
</button>