 <div class="container-fluid back-g">
    <div class="row flex-nowrap">
        <app-navbar class=""></app-navbar>
        <div class="col-md-1 mt-3">
            <button type="button" id="sidebarCollapse" class="btn clickBtn" (click)="show=!show">&#9776;</button>    
        </div>

        <!-- BODY -->
        <h1 *ngIf="!authenticated" style="margin-top:10%; margin-left:20%"> Login to Add Task</h1>         

        <div class="col-7 col-md-6" id="home-comp" *ngIf="authenticated">
            <body>
                <div class="container">
                    <div class="row d-flex justify-content-end mt-4 w-100 task-form-container">
                        <div class="col vw-100">                
                <!-- NOTES CONTAINER -->
                            <div class="note-cards m-2">
                                <div class="container p-2 py-3 h-100">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                      <div class="col">
                                        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                                          <div class="card-body py-4 px-4 px-md-5">
                                
                                            <p class="h2 text-center mt-3 mb-4 pb-3 ">
                                              <i class="fas fa-check-square me-1"></i>
                                              Tasks
                                            </p>
                                
                                              <div class="card">
                                                <div class="card-body">
                                                  <div class="d-flex flex-row align-items-center">
                                                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                                                      placeholder="Add new..." [(ngModel)]="tasks">
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i
                                                        class="fas fa-calendar-alt fa-lg me-3"></i></a>
                                                    <div>
                                                      <button type="submit" (click)="addTask()" class="add-btn p-2 px-3">Add</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                
                                            <hr class="my-4">
                                
                                                                        
                                                <!-- <div
                                                  class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                                                  <p class="small mb-0">
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Due on date">
                                                      <i class="fas fa-hourglass-half me-2 text-warning"></i>
                                                    </a>
                                                    28th Jun 2020
                                                  </p>
                                                </div> -->
                                                
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </div>                     
                        </div>                       
                    </div>
                
                </div>
            </body>
        </div>
        <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-fullscreen" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
              <button type="button" class="close" 
              data-dismiss="modal" aria-label="Close"
              (click)="closeClick()" >
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                <app-edit-task [task]="task" *ngIf=" ActivateAddEditNoteComp" ></app-edit-task>
              </div>
          </div>
          </div>
      </div>
        <div class="col">
            <div class="col-md-12 ml-5" id="tasks-container">
                <div class="tasks">
                    <div class="task-cards">
                    <h3 class="text-center">Tasks</h3>
            
                        
            
                        <div class="card task-backg mt-4" *ngFor="let task of task |keyvalue">
                            <!-- Ngfor task of tasks -->
                            <div class="form-check checkbox my-3">
                              <input class="strikethrough" type="checkbox" value="" id="flexCheckDefault">
                              <span class="form-check-label h4" for="flexCheckDefault">
                                  {{task.value.tasks}}
                              </span>
                          </div>
                          <div class="d-flex  flex-row justify-content-between mx-2">
                              <div class="text-muted mt-2"><i class="fas fa-info-circle me-2" style="font-size: 15px;"></i><small>{{task.value.date|date}}</small></div>
                              <div class="">
                                  <button class="text-info btn" data-mdb-toggle="tooltip" title="Edit todo" data-toggle="modal" data-target="#exampleModal" (click)="editClick(task.value)"><i
                                      class="fas fa-pencil-alt me-3" style="font-size: 20px;"></i></button>
                                  <button class="btn" data-mdb-toggle="tooltip" title="Delete todo" (click)="deleteClick(task.value.TaskId)">
                                      <i class="fa-solid fa-trash-can" style="font-size: 20px;"></i>
                                  </button>
                              </div>
                          </div>
                        </div>
                        
                        
            
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
